<li class="panel panel-default">
  <div class="panel panel-heading">
    <span><%= menu.author %></span>
  </div>
  <div class="panel-body">
    <span><%= menu.content %></span>
    <%= image_tag menu.image_url %>
  </div>
</li>
